In [1]:
import pandas as pd
import json
import os
import matplotlib.pyplot as plt

In [2]:
results = 'results/'

In [3]:
configlist = []
for f in os.listdir(results):
    with open(os.path.join(results, f, 'config.json'), 'r') as file:
        config = json.load(file)
    config['experiment'] = os.path.join(results, f, 'rewards.csv')
    configlist.append(config)

In [4]:
results = 'results1/'
for f in os.listdir(results):
    with open(os.path.join(results, f, 'config.json'), 'r') as file:
        config = json.load(file)
    config['experiment'] = os.path.join(results, f, 'rewards.csv')
    configlist.append(config)

In [5]:
results = 'results2/'
for f in os.listdir(results):
    with open(os.path.join(results, f, 'config.json'), 'r') as file:
        config = json.load(file)
    config['experiment'] = os.path.join(results, f, 'rewards.csv')
    configlist.append(config)

In [6]:
config_df = pd.DataFrame(configlist)

In [7]:
config_df

,network,lr,episodes,gamma,algorithm,environment,experiment
0,33,0.0010,300,0.95,ac,cartpole,results/experiment_BVHXX2TOB/rewards.csv
1,22,0.0001,300,0.95,ac,cartpole,results/experiment_RfO6AxzMO/rewards.csv
2,1,0.0010,10,0.95,dqn,lunarlander-discrete,results/experiment_NakH5qIUg/rewards.csv
3,11,0.0001,300,0.95,ac,cartpole,results/experiment_YStQowR6r/rewards.csv
4,11,0.0001,200,0.95,ac,cartpole,results/experiment_19BX8wNpV/rewards.csv
...,...,...,...,...,...,...,...
219,2,0.0001,600,0.90,dqn,cartpole,results2/experiment_IK7Mgzyka/rewards.csv
220,1,0.0001,600,0.80,dqn,lunarlander-discrete,results2/experiment_Zat2wNaZn/rewards.csv
221,1,0.0100,300,0.90,dqn,lunarlander-discrete,results2/experiment_wZrkyIO4K/rewards.csv
222,1,0.0001,300,0.95,dqn,lunarlander-discrete,results2/experiment_lrcwVSluG/rewards.csv
223,1,0.0100,300,0.80,dqn,lunarlander-discrete,results2/experiment_sFsqC9ftj/rewards.csv

In [8]:
algo = 'dqn'

In [10]:
# config_df[(if algo config_df['algorithm'] == algo)
#           &(config_df['environment'].str.contains('lunar'))
#          &(config_df['episodes'] == 300)
#          &(config_df['lr'] == 0.0001)
#           &((config_df['network'] == 1))]

In [11]:
def slicer(df, algorithm = None, network=None, lr=None, episodes=None, gamma=None, environment=None, experiment=None):
    
    if algorithm:
        df = df[df['algorithm'] == algorithm]
    if network:
        df = df[df['network'] == network]
    if lr:
        df = df[df['lr'] == lr]
    if episodes:
        df = df[df['episodes'] == episodes]
    if gamma:
        df = df[df['gamma'] == gamma]
    if environment:
        df = df[df['environment'].str.contains(environment)]
    if experiment:
        df = df[df['experiment'] == experiment]
        
    return df

In [17]:
slicer(config_df, episodes = 800, algorithm='ac', network = 11, lr = 0.0001)

,network,lr,episodes,gamma,algorithm,environment,experiment
14,11,0.0001,800,0.8,ac,lunarlander,results/experiment_bmex7DTb2/rewards.csv
22,11,0.0001,800,0.9,ac,lunarlander,results/experiment_uY4aPjyaq/rewards.csv

In [96]:
def slice_plotter(df, episode_preference = 300, 
                  prefered_label = 'experiment', 
                  filter_thresh = 0.5, 
                  average = True):
    #extract all prefered slices
    df = df[df['episodes'] == episode_preference]
    
    for index, row in df.iterrows():
        data = pd.read_csv(row['experiment'])
#         print(data)
        if average:
            data['rewards'] = data['rewards'].rolling(10).mean()
#             print(data)
        if len(data[data['rewards'] < 0]) / len(data) <= filter_thresh:
            plt.plot(data['episodes'], data['rewards'], label = row[prefered_label])
#     plt.legend()
    plt.show()

In [97]:
slice_plotter(slicer(config_df, algorithm='ddqn', gamma = 0.8, environment='lunar'))